<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styesheets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/shopping-bags_1f6cd.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Food Banks</title>
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700,800&display=swap');
    * {
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    ::selection {
        background: #ffb1b1
    }

    ::-moz-selection {
        background: #ffb1b1
    }
    
    body{
        width: 100%;
        height: 100vh;
        background-color: #fff;
        font-family: 'Roboto Mono', monospace;
        -webkit-font-smoothing: subpixel-antialiased;
        text-rendering: optimizeLegibility;
        overflow: hidden;
    }

    .row{

        margin-right: auto;
        margin-left: auto;
        display: flex;
        margin-bottom: 20px;
        min-height: 100%;

    }

    .column{
        padding-right: .625rem;
        padding-left: .625rem;
        width: 100%;
    }

    .textLeft{
        text-align: left;
    }

    .textRight{
        text-align: right;
    }

    .a{
        font-family: 'Roboto Mono', monospace;
        font-weight: 800;
        font-style: italic;
        font-size: 2em;
        margin-bottom: 0.5em;
        transition: 0.2s ease 0s;
        color: black;
    }

    a{
        cursor: pointer;
    }
 
    input[type=submit]{
        background-color: rgba(0, 0, 0, 0.1);
        color: #141414;
        border-radius: 5px;
        border: 0px;
        padding: 1em 2em;
        font-weight: 700;
        user-select: none;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: 0.2vw;
        font-family: 'Roboto Mono', monospace;
        transition: .1s ease; 
    
    }

    
    div{
        display: block;
    }

    input{
        color: black;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        border: none;
        padding: 10px;
        caret-color: #535353;
        outline: none;
        display: inline-block;
        width: 400px;
        position: relative;
        display: block;
        margin: 0 auto;
    }
    

    input[type=submit]:hover{
        -webkit-transform: scale(1.015);
        -ms-transform: scale(1.015);
        transform: scale(1.015);
    }

    .footer{
        display: block;
        position: absolute;
        right: 0px;
        bottom: 0px;
        left: 0px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        color: rgba(0, 0, 0, 0.1);
        font-size: 0.6em;
        z-index: 1;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }

    #container {
        max-width: 995px;
        margin: 0px auto;
        padding: 40px 15px;
        background-size: cover;
    }

#first{
    padding-top: 60px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    font-size: 6.4rem;
    height: 150px;
    -webkit-background-clip: text;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgba(15, 15, 16, 0.9);
}

#caption{
    font-size: 3rem;
    margin-bottom: 40px;
    color: #ffffff;
    font-weight: 400;
    opacity: 0.8;
    text-align: center;
    font-weight: 400;
    margin-top: -100px;
    color: #0f0f10;  
}

#headline {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: #9D9D9D;
    font-size: 24px;
    text-align: center;
    padding:30px 0px 0px 0px;
    margin: 0px 0px 50px 0px;
    animation: fade_in 1s ease-in forwards;
    animation-delay: 0.5s;
    visibility: hidden;
    user-select: none;
}
#r {
    display: inline-block;
    width: 400px;
    padding: 15px;
    background-color: #303030;
    -webkit-appearance: none;
    border: none;
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    color: #c0c0c0;
    margin: 0 auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    animation: fade_up 2s ease-in forwards;
    animation-delay: 0.3s;
    caret-color: #535353;
    visibility: hidden;
}
#r::placeholder {
    color: #777777;
}
#form {
    position: relative;
}

        @media only screen and (max-width: 995px){
            #first{
                height: 160px;

            }
        }

        @media only screen and (max-width: 770px){
            #first{
                font-size: 3.6rem;
                height: 140px;
            }   

            #title{
                font-size: 1rem;
                height: 135px;
            }

            #caption{
                font-size: 1.8rem;
            }
        }

        @media only screen and (max-width: 577px){
            #first{
                height: 140px;
                font-size: 2.5rem;
                text-align: center;
            }
            .a{
                font-size: 1em;
            }

            #caption{
                font-size: 1rem;
            }

            input{
                width: 300px;
            }
        }

        @media only screen and (max-width: 396px){
            
            input{
                width: 200px;
            }
            #first{
                height: 130px;
            }
        }
    </style>
    <body>
       
        
        <div id="container">
            <div class="row">
                <div class="column textLeft">
                    <a class="a" href="https://isebas.us/">isebas.us</a>
                </div>
                <div class="column textRight">
                    <a class="a" href="https://www.buymeacoffee.com/isebasus">buymeacoffee.com</a>
                </div>
            </div>
            <h1 id="first">Food Banks</h1>
            <h2 id="caption">👋 Hello there, enter your Zip Code to find food banks near you.</h2>
            <form action="/banks" method="GET">
                <input name="location" type="text" class="d1" id="c1" placeholder="Enter your Zip Code">
            </form>
        </div>
    </body>
</html>