<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/shopping-bags_1f6cd.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/result.css">
        <title>FoodBanks</title>
    </head>
    <script type='text/javascript'>
        var map;
        var markers = [];
        $(window).on('resize', function() {
          if ($(this).width() >= 470) {
            $(".body").css({"height": "100%"});
            $("#map").css({"height": "100%"});
          }
          else if($(this).width() <= 470){
            $(".body").css({"height": "60%"});
            $("#map").css({"height": "50%"});
          }
        });
        $(document).ready(function(){
            var locations = <%- data %>

            var increment = 0;
            for(var i = 0; i < locations.length; i++){
                var phone = locations[i].phoneNumber;
                var website = JSON.stringify(locations[i].website);
                var name = JSON.stringify(locations[i].name);
                var address = JSON.stringify(locations[i].address);
                var type = locations[i].type;
                var isOpen = locations[i].open;
                var rating = JSON.stringify(locations[i].rating);
                var open = "";
                if(isOpen){
                    open = "✔️ Open"
                } else if (isOpen == false){
                    open = "❌ Closed"
                }
                else{
                    open = ""
                }
                if(type.includes("church")){ name = "⛪ " + name; }
                if(website == null){
                  $(".columns").append('<div class="location" id="' + increment + '"><div class="cover"><h2 id="name'+ increment + '">' + name + ' </h2><p>' + address + '</p><p>📞 ' + phone + '</p><p>' + open + '</p></div></div> ');
                } else {
                  $(".columns").append('<div class="location" id="' + increment + '"><div class="cover"><h2 id="name'+ increment + '">' + name + ' </h2><p>' + address + '</p><p>📞 ' + phone + '</p><p>' + open + '</p><p>🌐 <a class="website" href=' + website + '>Website</a></p></div></div> ');
                }
                increment++; 
            }
            var bool = true;
            $(".toggleButton").click(function(){
              if(bool){
                $(".body").css({"height": "15%"});
                $("#map").css({"height": "100%"});
                $('.img').attr("src","https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-up-512.png");
              }else{
                $(".body").css({"height": "60%"});
                $("#map").css({"height": "50%"});
                $('.img').attr("src","https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-512.png");
              }
              bool = !bool;
            });
            $(".location").click(function(){
                
                var bigicon = {
                    url: "https://i.ibb.co/YNr0qjd/round-pushpin-1f4cdbetter.png", // url
                    scaledSize: new google.maps.Size(30, 30), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };
                var icon = {
                    url: "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/round-pushpin_1f4cd.png", // url
                    scaledSize: new google.maps.Size(30, 30), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };
                var idIncrement = 0;
                for(var i = 0; i < markers.length; i++){
                    markers[i].setIcon(icon);
                    $("#name" + idIncrement + "").css({"text-decoration": "none"});
                    idIncrement++;
                }
                var idNumber = 0;
                for(var i = 0; i < locations.length; i++){
                    var num = idNumber.toString();
                    if($(this).attr("id") == num){
                        if(markers[idNumber].id == "marker_" + idNumber){
                            map.panTo(markers[idNumber].position);
                            map.setZoom(14);
                            markers[idNumber].setIcon(bigicon);
                            $("#name" + idNumber + "").css({"text-decoration": "underline"});
                        }
                    }
                    idNumber++;
                }
                
            });
        });
        function initMap() {
            var locationsData = <%- data %>
            var zipCode = <%- loc %>
            var specifics = JSON.stringify(locationsData);
            var dataLocations = JSON.parse(specifics);
            var uluru = {lat: dataLocations[0].latitude, lng: dataLocations[0].longitude};
            var elementStyle = {
              zoom: 13, 
              center: uluru,
              disableDefaultUI: true,
              gestureHandling: 'greedy',
              minZoom: 5,
              zoomControl: true,
              styles: [
              {
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#f5f5f5"
                  }
                ]
              },
              {
                "elementType": "labels.icon",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#616161"
                  }
                ]
              },
              {
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                    "color": "#f5f5f5"
                  }
                ]
              },
              {
                "featureType": "administrative.land_parcel",
                "elementType": "labels",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
              "featureType": "administrative.land_parcel",
              "elementType": "labels.text.fill",
              "stylers": [
                  {
                    "color": "#bdbdbd"
                  }
                ]
              },
              {
               "featureType": "poi",
               "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#eeeeee"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "labels.text",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#757575"
                  }
                ]
              },
              {
                "featureType": "poi.business",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#e5e5e5"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#ffffff"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "labels.icon",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "road.arterial",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#757575"
                  }
                ] 
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#dadada"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#616161"
                  }
                ]
              },
              {
                "featureType": "road.local",
                "elementType": "labels",
                "stylers": [
                  {
                   "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "road.local",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              },
              {
                "featureType": "transit",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#e5e5e5"
                  }
                ]
              },
              {
                "featureType": "transit.station",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#eeeeee"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                  {
                   "color": "#c9c9c9"
                 }
                ]
             },
             {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              }
              ]
          }
          if ($(this).width() >= 470) {
            elementStyle.zoomControl = elementStyle.zoomControl;
          }
          else if($(this).width() <= 470){
            elementStyle.zoomControl = !elementStyle.zoomControl;
          }
            // The map, centered at Uluru
            map = new google.maps.Map( document.getElementById('map'), elementStyle);
          
            var icon = {
                url: "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/round-pushpin_1f4cd.png", // url
                scaledSize: new google.maps.Size(30, 30), // scaled size
                origin: new google.maps.Point(0,0), // origin
                anchor: new google.maps.Point(0, 0) // anchor
            };
              
            var bigicon = {
                    url: "https://i.ibb.co/YNr0qjd/round-pushpin-1f4cdbetter.png", // url
                    scaledSize: new google.maps.Size(30, 30), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };
            var int = 0;
            for(var i = 0; i < dataLocations.length; i++){
                var locations = dataLocations[i];
                  var infowindow = new google.maps.InfoWindow();
                  var marker = new google.maps.Marker({
                    position: {lat: locations.latitude, lng: locations.longitude},
                    icon: icon,
                    map: map,
                    id: 'marker_' + int,
                    name: locations.name,
                  });
                  markers.push(marker);
                  google.maps.event.addListener(marker, 'click', (function(marker) {
                    return function() {
                        var int = 0;
                        for(var i = 0; i < markers.length; i++){
                            markers[i].setIcon(icon);
                            $("#name" + int + "").css({"text-decoration": "none"});
                            int++;
                        }
                        var objectId = marker.id.split('_')[1];
                        if($(".body").height() <= 180){
                          $('.body').animate({
                            scrollTop: $("#"+ objectId +"").offset().top - 800 + $(".body").scrollTop()},
                          'slow');
                        } else{
                          $('.body').animate({
                            scrollTop: $("#"+ objectId +"").offset().top - 400 + $(".body").scrollTop()},
                        'slow');
                        }
                        $("#name" + objectId + "").css({"text-decoration": "underline"});
                        map.panTo(marker.position);
                        marker.setIcon(bigicon);
                        map.setZoom(14);
                      }
                  })(marker));
                  
                  marker.addListener('mouseover', function() {
                    infowindow.setContent('<p>' + this.name +'</p>');
                    infowindow.open(map, this);

                  });
                  marker.addListener("mouseout", function() {
                      infowindow.close();
                  });
                  int++;
            }
        }
    </script>
    <body>
        <div id="nav" class="body">
            <div class="toggleButton">
              <img class="img" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-512.png" width="25" height="25">
            </div>
            <div class="iconLink">
              <a class="mobile" href="https://foodbanks.space/">FoodBanks</a>
            </div>
          <h1><a><%= loc %></a></h1>
          <div class="input">
            <div class="input-search">
              <form action="/banks" method="GET">
                  <input name="location" type="text" class="d1" id="c1" placeholder="Search other Location"><input type="submit" value="Search">
              </form>
            </div>
          </div>
          <div class="columns">
          </div>
        </div>
        <div class="container">
            <div class="icon">
              <a class="a" href="https://foodbanks.space/">FoodBanks</a>
            </div>
            <div class="search"> 
              <form action="/banks" method="GET">
                <input name="location" type="text" class="d1" id="c1" placeholder="Search other Location">
              </form>
            </div>
            <div id="map"></div>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9OQiVI8dzIazsVuTueHHEJzuVYDsMqzw&callback=initMap"></script>
        </div>
    </body>
</html>