<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/shopping-bags_1f6cd.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Grocery</title>
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap');
    * {
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    body {
        overflow: hidden;
        background-color: #0f0f10;
        min-height: 90vh;
        margin-left: 30px;
        overflow-x: hidden;
    }

    #text{
        font-size: 50px;
        color: white;    
        }
    h1{
        font-weight: 500;
        color: rgb(209, 197, 173);
    }

    h2{
        text-align: left;
    }
    .location{
        background-color: rgb(255, 255, 255, 0.1);
        border-radius: 3px;
        padding: 1.5rem;
        padding-right: 100px;
        width: 230px;
        margin-bottom: 25px;
    }

    .body{
        float: left;
        margin-right: 50px;
    }
    p{
        width: 300px;
        position: relative;
        font-weight: normal;
        text-align: left;
    }
    #map {
        width: 73%;
        height: 750px;
        float:left;
        transform-style:preserve-3d;
        transform:perspective(auto) translateZ(-30vw) scale(1.4);
        perspective:1000;     
      }
    </style>
    <script type='text/javascript'>

        $(document).ready(function(){
            var zip = <%= loc %>;

            var data = $.ajax({
                url: "http://localhost:8080/result?location=" + zip,
                type: 'GET',
                dataType: 'json', // added data type
                global: false,
                async: false,
                success: function(res) {
                    for(var i = 0; i < res.length; i++){

                        var address = JSON.stringify(res[i].address);
                        var name = JSON.stringify(res[i].name);
                        var isOpen = res[i].open;
                        var rating = JSON.stringify(res[i].rating);
      
                        var open = ""
                        if(isOpen){
                            open = "Open"
                        } else if (isOpen == false){
                            open = "Closed"
                        }
                        else{
                            open = ""
                        }
                        $(".body").append('<div class="location"><h2>' + name + '</h2><p>' + address + '</p><p>' + rating  + ' ⭐</p><p>' + open + '</p></div> ');
                    }

                    return res;
                },
                error: function(error) {
                    console.log(error);
                }
            }).responseText;

            window.globalData = JSON.parse(data);

        });

        function initMap() {
            var locationsData = window.globalData;
            
            // The location of Uluru
            var uluru = {lat: locationsData[0].latitude, lng: locationsData[0].longitude};
            // The map, centered at Uluru
            var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 12, 
                center: uluru,
                disableDefaultUI: true,
                gestureHandling: 'greedy',
                minZoom: 5,
                styles: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#212121"
                        }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#212121"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#757575"
                        },
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.country",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.locality",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#bdbdbd"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#181818"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#1b1b1b"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#2c2c2c"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        { 
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#8a8a8a"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#373737"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#3c3c3c"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#4e4e4e"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#141414"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#3d3d3d"
                        }
                    ]
                }

                        ]

            });

            var icon = {
                url: "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/poultry-leg_1f357.png", // url
                scaledSize: new google.maps.Size(30, 30), // scaled size
                origin: new google.maps.Point(0,0), // origin
                anchor: new google.maps.Point(0, 0) // anchor
            };
                 
            for(i = 0; i < locationsData.length; i++){
                var locations = locationsData[i];

                var marker = new google.maps.Marker({
                    position: {lat: locations.latitude, lng: locations.longitude},
                    icon: icon,
                    map: map
                });
            }
        }
    </script>
    <body>
        <div class="content">
            <div class="body">
                <h1><%= loc %></h1>
            </div>
            <div id="map"></div>
            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjk1KFIS4RI4IdnHPe-_Z7UBrzkl3CFsU&callback=initMap">
            </script>
        </div>
    </body>
</html>