<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/shopping-bags_1f6cd.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjk1KFIS4RI4IdnHPe-_Z7UBrzkl3CFsU&callback=initMap">
        </script>
        <title>Grocery</title>
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap');


    ::-webkit-scrollbar {
        width: 6px
    }

    ::-webkit-scrollbar-track {
        background: rgb(0, 0, 0, 0.25);
    }

    ::-webkit-scrollbar-thumb {
        background: #ff5b5b;
        border-radius: 1em;
        transition: .3s
    }

    ::selection {
        background: #ffb1b1
    }

    ::-moz-selection {
        background: #ffb1b1
    }

    * {
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
    }

    body {
        overflow: hidden;
        background-color: #fafafa;
    }
    #text{
        font-size: 50px;
        color: white;    
        }
    h1{
        font-weight: 500;
    }

    a{
        color: rgba(0, 0, 0, 0.3)
    }

    h2{
        color: #0f0f10;
        text-align: left;
    }

    .location{
        position: relative;
        background-color: #fff;
        border-radius: 3px;
        padding: 1.5rem;
        transition: transform .15s; 
        cursor: pointer;
    }

    .cover{
        width: 100%;
        background-size: cover;
    }

    .location:hover{
        -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }

    .location:active{
        -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }

    .location:visited{
        -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    }

    .columns{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        grid-gap: 30px 30px;
        gap: 30px 30px;
    }

    .contain{
        position: relative;
    }

    div{
        display: block;
    }

    .body{
        background-color: #ededed;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 450px;
        max-height: 100vh;
        margin: 0 auto;
        padding: 0px 30px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
    }

    .content{
        width: inherit;
    }

    p{
        color: #0f0f10;
        width: 300px;
        position: relative;
        font-weight: normal;
        text-align: left;
    }
    #map {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      }
    
    .continer{
        position: fixed;
    }

    @media only screen and (max-width: 470px){
        .body{
            padding: 0px 15px;
            margin-top: 250px;
            border-top: 6px solid rgb(0, 0, 0, 0.25);
            width: 100%;
        }

        ::-webkit-scrollbar {
        width: 3px
        }
    }

    @media only screen and (max-width: 370px){
        .body{
            padding: 0px 5px;
        }

        ::-webkit-scrollbar {
        width: 2px
        }
    }

    </style>
    <script type='text/javascript'>
        var map;
        var markers = [];

        $(document).ready(function(){
            var locations = <%- data %>
            

            var increment = 0;
            for(var i = 0; i < locations.length; i++){
                var address = JSON.stringify(locations[i].address);
                var name = JSON.stringify(locations[i].name);
                var isOpen = locations[i].open;
                var rating = JSON.stringify(locations[i].rating);
                
                var open = ""
                if(isOpen){
                    open = "Open ✔️"
                } else if (isOpen == false){
                    open = "Closed ❌"
                }
                else{
                    open = ""
                }
                $(".columns").append('<div class="location" id="' + increment + '"><div class="cover"><h2 id="name'+ increment + '">' + name + '</h2><p>' + address + '</p><p>' + rating  + ' ⭐</p><p>' + open + '</p></div></div> ');
                increment++; 
            }

            $(".location").click(function(){
                
                var bigicon = {
                    url: "https://lh4.googleusercontent.com/uRw3Dmel1O0kdzRfegGfDAMIpbbZeXdBj56t_m-6YZ8qbE6MxyS3kLn06Lkfgy-k66zmu42KqI5kWLcoP7qA=w1920-h992", // url
                    scaledSize: new google.maps.Size(30, 30), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };

                var icon = {
                    url: "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/round-pushpin_1f4cd.png", // url
                    scaledSize: new google.maps.Size(30, 30), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };

                var idIncrement = 0;
                for(var i = 0; i < markers.length; i++){
                    markers[i].setIcon(icon);
                    $("#name" + idIncrement + "").css({"text-decoration": "none"});
                    idIncrement++;
                }

                var idNumber = 0;
                for(var i = 0; i < locations.length; i++){
                    var num = idNumber.toString();
                    if($(this).attr("id") == num){
                        if(markers[idNumber].id == "marker_" + idNumber){
                            map.setZoom(14);
                            map.panTo(markers[idNumber].position);
                            markers[idNumber].setIcon(bigicon);
                            $("#name" + idNumber + "").css({"text-decoration": "underline"});
                        }
                    }
                    idNumber++;
                }
                
            });

        });

        function initMap() {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };

                map.setCenter(pos);

            });

            var locationsData = <%- data %>

            var specifics = JSON.stringify(locationsData);
            var dataLocations = JSON.parse(specifics);

            // The location of Uluru
            var uluru = {lat: dataLocations[0].latitude, lng: dataLocations[0].longitude};
            // The map, centered at Uluru
            map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 13, 
                center: uluru,
                disableDefaultUI: true,
                gestureHandling: 'greedy',
                minZoom: 5,
                zoomControl: true,
                styles: [
                {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.business",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ffffff"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dadada"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#c9c9c9"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  }

                        ]
            });
            var icon = {
                url: "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/round-pushpin_1f4cd.png", // url
                scaledSize: new google.maps.Size(30, 30), // scaled size
                origin: new google.maps.Point(0,0), // origin
                anchor: new google.maps.Point(0, 0) // anchor
            };
              
            var bigicon = {
                    url: "https://lh4.googleusercontent.com/uRw3Dmel1O0kdzRfegGfDAMIpbbZeXdBj56t_m-6YZ8qbE6MxyS3kLn06Lkfgy-k66zmu42KqI5kWLcoP7qA=w1920-h992", // url
                    scaledSize: new google.maps.Size(30, 30), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };

            var int = 0;
            for(var i = 0; i < dataLocations.length; i++){
                var locations = dataLocations[i];
                var marker = new google.maps.Marker({
                    position: {lat: locations.latitude, lng: locations.longitude},
                    icon: icon,
                    map: map,
                    id: 'marker_' + int,
                });
                markers.push(marker);

                google.maps.event.addListener(marker, 'click', (function(marker) {
                    return function() {
                        var int = 0;
                        for(var i = 0; i < markers.length; i++){
                            markers[i].setIcon(icon);
                            $("#name" + int + "").css({"text-decoration": "none"});
                            int++;
                        }
                        var objectId = marker.id.split('_')[1];
                        $('.body').animate({
                            scrollTop: $("#"+ objectId +"").offset().top - 400 + $(".body").scrollTop()},
                        'slow');
                        
                        $("#name" + objectId + "").css({"text-decoration": "underline"});
                        map.setZoom(14);
                        map.panTo(marker.position);
                        marker.setIcon(bigicon);
                    }
                })(marker));


                int++;
            }

        }

    </script>
    <body>
        <div class="body">
            <h1><a> <%= loc %></a></h1>
            <div class="columns">
            </div>
        </div>
        <div class="container">
            <div id="map"></div>
        </div>
    </body>
</html>