@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700,800&display=swap');

* {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background: #ffb1b1
}

::-moz-selection {
    background: #ffb1b1
}

body{
    height: 100vh;
    background-color: #fff;
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-bottom: 20px;
    min-height: 100%;

}

.column{
    padding-right: .625rem;
    padding-left: .625rem;
    width: 100%;
}

.textLeft{
    text-align: left;
}

.textRight{
    text-align: right;
}


.a{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1.25em;
    text-decoration: none;
    
    transition: 0.2s ease 0s;
    color:  rgba(15, 15, 16, 0.9);
    
}

#right{
    font-weight: 400;
    font-size: 1.2em;
    color:rgba(0, 0, 0, 0.5);
    padding-right: 10px;
    transition: 0.2s ease;
}

#right:hover{
    color:rgba(0, 0, 0, 1);
}

.about{
    background-color:#f0f0f0;
    position: absolute;
    left: 0;
    height: 80%;
    width: 100%;
}
.coffee{
    text-decoration: none;
    font-style: normal;
}

a{
    cursor: pointer;
    color:  rgba(15, 15, 16, 0.5); 
}

.color{
    color: #0f0f10;
    font-weight: 400;
}

input[type=submit]{
    background-color: rgba(255, 91, 91, 0.9);
    color: #fff;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border: 0px;
    padding: 1.2rem;
    font-weight: 400;
    font-size: 1.2em; 
    user-select: none;
    width: 15%;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    transition: .2s ease; 
    margin: 0 auto;
    -webkit-appearance: none;
}

 
input[type=submit]:hover{
    background-color: #ff4242;
}

.wave{
    font-style: normal;
    opacity: 1;
}

div{
    display: block;
}

.food{
    font-style: normal;
    color:  rgba(255, 91, 91, 1);
    font-weight: 500;
   
}

input[type="text"]{
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: none;
    font-size: 1.2em; 
    font-weight: 400;
    padding: 1.2rem;
    caret-color: #535353;
    outline: none;
    margin: 0 auto;
    width: 50%;
}

.image{
    width: 100%;
    padding-bottom: 60%;
    background-size: cover;
    background-image: url('https://i.ibb.co/zZ3zyJy/foodbanks-B.jpg');

}

#container {
    max-width: 980px;
    margin: 0px auto;
    padding: 20px 15px;
    background-size: cover;
    margin-bottom: 5%;
}

.parent{
    border-radius: 4px;
    background-size: cover;
    background-repeat: none;
}

.project{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.feature{
    color: #0f0f10;
    font-weight: 700;
    font-size: 1.7em;
    margin-bottom: -5px;
}

#first{
padding-top: 30px;
font-weight: 900;
line-height: 1;
text-align: center;
font-size: 6.4rem;
height: 150px;
-webkit-background-clip: text;
margin-block-start: 0.67em;
margin-block-end: 0.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
color:  #0f0f10;  
}

#more-about{
font-weight: 400;
text-align: left;
font-size: 0.8em;
-webkit-background-clip: text;
color:  rgba(15, 15, 16, 0.5); 
}

#made-by{
font-weight: 400;
text-align: right;
font-size: 0.8em;
-webkit-background-clip: text;
color:  rgba(15, 15, 16, 0.5); 

}

.desktop-button{

}

.mobile-button{
display: none;
}

.description{
color:  #0f0f10; 
font-size: 1.1em;
font-weight: 400;
}

.columns{
padding-top: 20px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 25px 25px;
gap: 25px 50px;
width: 100%;
margin: 0px auto;
}

.column-image{
padding-top: 20px;
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-gap: 25px 25px;
gap: 25px 50px;
width: 100%;
margin: 0px auto;
}

.love{
font-size: 0.8rem;
font-weight: 400;
text-align: center;
margin-top: 10px; 
color: #0f0f10;
}

.search{
display: block; 
text-align: center;
}

#caption{
font-size: 2.9rem;
margin-bottom: 30px;
font-weight: 500;
text-align: center;
margin-top: 80px; 
color: rgba(9, 9, 26, 0.9);
}

.footer{
position: absolute;
bottom: 0;
}

button{
padding: 0.7rem;
background-color: rgba(255, 91, 91, 0.9);
font-size: 0.8em;
cursor: pointer;
box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
font-weight: 400;
text-decoration: none;
border: none;
color: white;
border-radius: 5px;
transition: .2s ease; 
}

button:hover{
background-color: #ff4242;
}

.food-banks-logo{
height: 27px !important;width: 27px !important;margin-bottom: 8px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;
}

.buy{height: 25px !important;width: 26px !important;margin-bottom: 3px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}


#headline {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: #9D9D9D;
    font-size: 24px;
    text-align: center;
    padding:30px 0px 0px 0px;
    margin: 0px 0px 50px 0px;
    animation: fade_in 1s ease-in forwards;
    animation-delay: 0.5s;
    visibility: hidden;
    user-select: none;
}

#form {
    position: relative;
}

    @media only screen and (max-width: 995px){
        #first{
            height: 160px;
        }
        .columns{
            width: 90%;
        }
    }

    @media only screen and (max-width: 850px){
        .columns{
            grid-template-columns: repeat(1, 1fr);
            width: 70%;
        }
    }


    @media only screen and (max-width: 770px){
        #first{
            font-size: 3.6rem;
            height: 140px;
        }   

        
        input[type="text"]{
            position: relative;
            display: block;
            border-radius: 50px;
            width: 70%;
            font-size: 1.1em;
            padding: 1.2rem;
        }

        input[type="submit"]{
            margin-top: 20px;
            position: relative;
            display: block;
            border-radius: 50px;
            padding: 0.8rem; 
            width: 70%;
            font-size: 1.1em;
        }

        .row{
            margin-top: -15px;
        }


        #title{
            font-size: 1rem;
            height: 135px;
        }

        #caption{
            font-size: 2rem;
            margin-bottom: 25px;
            margin-top: 60px;
        }
        
        input{
            font-size: 1em;
            padding: 0.9rem;
        }

        .love{
            font-size: 0.7rem;
            margin-top: 20px;
        }

    }

    @media only screen and (max-width: 657px){
        .mobile-button{
            display: block;
            margin-bottom: 5px;
        }

        .desktop-button{
            display: none;
        }
    }

    @media only screen and (max-width: 577px){
        #first{
            height: 140px;
            font-size: 3.6rem;
            text-align: center;
            padding-top: 30px;
        }
        .a{
            font-size: 1.4em;
        }

        .feature{
            font-size: 1.6em;
        }

        .description{
            font-size: 1em;
        }

        #right{
            font-size: 1em;
        }

        .about{
            height: 100% ;
        }

        button{
            font-size: 0.65em;
            padding: 0.5rem;
        }

        .food-banks-logo{
            height: 25px !important;width: 25px
        }

        input[type="text"]{
            width: 75%;
        }

        input[type="submit"]{
            width: 75%;
        }

        #container{
            padding: 30px 15px;
        }

        #caption{
            font-size: 1.5rem;
            margin-top: 60px;
            line-height: 1.2;
            padding-right: 15px;
            padding-left: 15px;
        }

        #container{
            margin-bottom: 80px;
        }

        input{
            font-size: 0.8em;
            padding: 0.7rem;
        }
    }

    @media only screen and (max-width: 500px){
        .a{
            font-size: 1.2em;
        }

    }

    @media only screen and (max-width: 396px){
        #first{
            height: 195px;
        }
    }

    @media only screen and (max-width: 330px){
        
      
    }